.circleindicator-container {
    circleindicator-color: #2F5499;
    -fx-padding: 15;
    -fx-background-color: #EC6B77;
    -fx-opacity: 1;
}

.circleindicator-container > .circleindicator-label {
    -fx-font-weight: bold;
    -fx-font-size: 2.5em;
    -fx-text-fill: circleindicator-color;
    -fx-padding: 5.0;
    -fx-background-color: #EC6B77;
    -fx-opacity: 1;
}