.ringindicator {
    -fx-ring-width: 15.0;
    -fx-inner-radius: 100.0;
}

.ringindicator-inner-circle {
    -fx-opacity: 0;
    -fx-stroke: circleindicator-color;
    -fx-stroke-width: 1.0px;
    -fx-fill: -fx-background;
    -fx-background-color: #EC6B77;
}

.ringindicator-filler {
    -fx-background-color: #EC6B77;
    -fx-stroke: circleindicator-color;
    -fx-fill: #EC6B77;
    -fx-stroke-line-cap: round;
}

.ringindicator-outer-circle-secondary {
    -fx-opacity: 0;
    -fx-stroke: circleindicator-color;
    -fx-stroke-width: 1.0px;
    -fx-fill: -fx-background;

}

.indeterminate {
    -fx-opacity: 0;
    -fx-background-color: #EC6B77;
}
